{% extends 'base.tmpl' %}

{% macro render_game(id, name, developer, pos) -%}
    <div data-id="{{id}}" class="item {{pos}} list-title">
        <div class="list-name"><h2>{{name}}</h2></div>
        <div class="list-dev"><h2>{{developer}}</h2></div>
        <div class="list-thresh"><div class="progressbar" style="background-position: -124px 0px;"></div></div>
    </div>
{%- endmacro %}

{% block head %}
    {{ super() }}
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/games.css') }}"/>
{% endblock %}

{% block content %}
    <div id="pagetitle">The Games</div>

    <div class="inner pull-1">
        <!-- game suggestion thingy should go here -->
        <div class="clear"></div>
    </div>

    <div class="grid-10 prefix-1 no-left-margin no-right-margin">
        <div class="outer-border list-header-outer top">
            <div class="item list-title-top">
                <div class="list-name"><h1>Name</h1></div>
                <div class="list-dev"><h1>Developer</h1></div>
                <div class="list-thresh"><h1><a class="em-yellow" id="thresholdtooltip" original-title="Buzz is a measurement of donor interest towards games: It's how we figure out what to play.">(?)</a> Buzz</h1></div>
            </div>
        </div>

        <div class="outer-border list">
            {% for game in games %}
                {{ render_game(game.id, game.name, game.developer, loop.cycle('odd', 'even')) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
