{% extends 'base.tmpl' %}

{% block content %}
    <h6 class="pagetitle">The Games</h6>

    <div>
        <a href="/games/suggest" title="Suggest a New Game"><button class="float-right">Suggest a New Game</button></a>

        <p>Are we missing a game you want to see? <a href="/login">Log in</a> to suggest it!</p>
    </div>

    <div>
        <table>
            <tr>
                <td><h4>Name</h4></td>
                <td><h4>Developer</h4></td>
                <td><h4>Buzz</h4></td>
            </tr>

            {% for game in games %}
                <tr>
                    <td>{{game.name}}</td>
                    <td>{{game.developer}}</td>
                    <td>|||||.........</td> <!-- buzz will go here -->
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
