label {
    text-align: right;
    line-height: 26px;
    width: 150px;
    display: block;
    float: left;
    padding-right: 10px;
}

dt {
    width: 160px;
}

#roi {
    display: none;
}

.split-choice li:not(:first-child) {
    float: left;
}

.split-choice input {
    float: left;
}

.split-choice label:not(:first-child) {
    width: inherit!important;
}

.split-choice .not-evenly {
	display: none;
}

.split-choice input[value="uneven"]:checked ~ .not-evenly {
	display: block;
}
