
.list-name {
    float: left;
    width: 294px;
    overflow: hidden;
    white-space: nowrap;
}

.list-dev {
    float: left;
    width: 320px;
    overflow: hidden;
    white-space: nowrap;
}

.list-thresh {
    float: left;
    width: 113px;
}

.list-info {
	width: 274px;
	padding-right: 20px;
	float: left;
}
.list-content{
    margin-top: 1px;
    padding: 8px 19px;
    display: none;
    /*width: 274px;*/
    width: auto;
    height: auto; 
    background-color: #7e63a6;
    border: 1px solid #74599d;

}

