@font-face {
  font-family: "pixChicago";
  src: url("../font/pixChicagoUpdate.eot" ); /* IE */
  src: url( "../font/pixChicagoUpdate.ttf" );
}

@font-face {
  font-family: "Mecha";
  src: url("../font/Mecha_Bold.eot" ); /* IE */
  src: url( "../font/Mecha_Bold.ttf" );
}

body {
    font: 8px pixChicago, Courier New, Arial, sans-serif;
    text-align: left;
    color: #fff;
    line-height: 16px;
    background-repeat: repeat-x;
    background-color: #4781ca;
    background-image: url(../img/bg.png);
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    text-shadow: -1px -1px rgba(0,0,0,.15);
}

img.outline {
    border: 1px solid #513481
}

img.screenshot {
    display: inline-block;
    margin: 4px;
}

p a {
    color: #ffd642;
    text-shadow: -1px -1px rgba(0,0,0,.4);
}

dt {
    float: left;
    font-size: 11px;
    width: 100px;
}

button {
    background-color: #553886;
    border: 1px solid #4a3175;
    font: 8px pixChicago, Arial, sans-serif;
    color: #ffffff;
    height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 7px;
    cursor: pointer;
}

input {
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 190px;
}

input[type=radio] {
    width: 20px;
}

textarea {
    margin: 2px 2px 2px 5px;
    padding: 2px 4px;
    height: 80px;
    resize: both;
    max-width: 400px;
    width: 300px;
}

#main-container {
    background-color: #c8a7d9;
    border: 1px solid #b595ca;
    margin: 0 auto;
    width: 978px;
    padding-top: 20px;
    overflow: auto;
}

#pagetitle {
    font: 64px Mecha, Arial, sans-serif;
    line-height: 56px;
    text-shadow: -1px -1px #8e6faf, 1px -1px #8e6faf, -1px 1px #8e6faf, 1px 1px #8e6faf;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 25px;
    text-align: left;
}

#header {
    width: 980px;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#footer {
    margin: 5px 0;
}

#logo {
    position: absolute;
    margin: 0;
    z-index: 900;
    height: 154px;
    width: 211px;
    top: 44px;
    left: 384px;
}

#title {
    width: 477px;
    height: 60px;
    background-image: url(../img/header_title.png);
}

#social-media {
    width: 252px;
    height: 24px;
    margin-top: 36px;
}

#social-media ul {
    height:24px;
}

#facebook {
    background: url(../img/social-links.png) 0px 0px;
}

#twitter {
    background: url(../img/social-links.png) -24px 0px;
}

#steam {
    background: url(../img/social-links.png) -48px 0px;
}

#gplus {
    background: url(../img/social-links.png) -72px 0px;
}

#timer-text {
    width: 188px;
    padding-left: 5px;
}

#donation-text {
    width:184px;
}

#upper-right-nav {
    width:382px;
}

#marathon-timer {
    padding-left: 7px;
    width: 188px;
}

#total-donations {
    width:180px;
}

#marathon-status {
    width: 368px;
    padding-right: 6px;
    padding-top: 4px;
}

#next-hour {
    width: 162px;
    height: 56px;
    margin: 0px;
}

#next-hour div {
    width: 162px;
}

#faq-nav {
    width: 199px;
    height: 22px;
    margin-left: 47px;
    margin-top: 38px;
    background-image: url(../img/header_faqnav.png);
    opacity: .25;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}

#top-nav {
    width: 980px;
    height: 68px;
    background-image: url(../img/header_topnav.png);
}

#top-nav h4 {
    text-align: center;
}

#bottom-nav {
    width: 564px;
    height: 70px;
    margin-left: 39px;
    background-image: url(../img/header_bottomnav.png);
}

#donate {
    height: 43px;
    width: 158px;
    margin-left: 12px;
    margin-top: 4px;
    padding-top: 13px;
    float: left;
}

#donate a {
    color: #ffd642;
    text-shadow: -1px -1px rgba(0,0,0,.4);
    font-size: 16px;
    line-height: 28px;
    margin-top: 4px;
    text-align: center;
}

#user-ui-guest {
    width: 147px;
    height: 70px;
    background-image: url(../img/header_user_ui_guest.png);
}

#user-ui-guest div {
    width:136px;
}

#user-ui {
    width: 337px;
    height: 70px;
    background-image: url(../img/header_user_ui.png);
}

#profile-links {
    width: 310px;
}

#tumblr-posts {
    width: 620px;
    margin-left: 19px;
    float: left;
}

#twitter-timeline {
    width: 300px;
    margin-left: 10px;
    float: left;
}

.outer-border {
    border: 1px solid #fff;
    box-shadow: 1px 0px #d7cae1, inset 1px 0px #d7cae1, -1px 0px #d7cae1, inset -1px 0px #d7cae1;
    margin-bottom: 13px;
}

.inner-border {
    padding: 5px 10px;
    margin: 3px 4px 3px 4px;
}

.purple {
    background-color: #553886;
    border: 1px solid #4a3175;
}

.purple-header {
    color: #e1d4e8;
    text-shadow: none;
}

.pink-header {
    color: #e9d8f1;
    text-shadow: none;
}

.push-1 {
    left: 79px;
    position: relative;
}

.push-3 {
    left: 239px;
    position: relative;
}

.grid-6 {
    width: 460px;
}

.grid-10 {
    width: 780px;
}

.prefix-1 {
    padding-left: 80px;
}

.list {
    border-top-width: 0px;
    margin-top: 0;
    padding: 2px 4px 3px 4px;
}

.light-shadow {
    text-shadow: -1px -1px rgba(0,0,0,.15);
}

.dark-shadow {
    text-shadow: -1px -1px rgba(0,0,0,.4)
}

.expanded {
    letter-spacing: 1px;
}

.divider {
    border-top: 1px solid #472e72;
    border-bottom: 1px solid #71569b;
    margin: 3px 0;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.header-child {
    float: left;
    background-repeat: none;
    background-attachment: top left;
}

.social-link-go {
    height: 24px;
    width: 24px;
    float: left;
    margin-left: 8px;
    display: block;
}

.fade {
    transition: opacity .65s ease-in-out;
    -moz-transition: opacity .65s ease-in-out;
    -webkit-transition: opacity .65s ease-in-out;
}

.header-small {
    height: 22px;
    margin-top: 4px;
}

.header-large {
    height: 29px;
    margin-top: 4px;
    padding-top: 1px;
}

.header-left {
    float: left;
    margin-left: 5px;
}

.header-right {
    float: right;
    margin-right: 9px;
}

.text-large {
    font-size: 16px;
    line-height: 28px;
    margin-top: 4px;
}

.text-small {
    font-size: 8px;
    line-height: 22px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-left-margin {
    margin-left: 0;
}

.no-right-margin {
    margin-right: 0;
}

.white {
    color: white;
    text-shadow: -1px -1px rgba(0,0,0,.15);
}

.form-header {
    background-color: #553886;
    border: 1px solid #4a3175;
    margin: 3px 4px 3px 4px;
    padding: 5px 19px 0px 19px;
    height: 33px;
}

.form-body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #aa7dc1;
    border: 1px solid #9b70b5;
}

.form-body .center {
    padding-top: 10px;
    margin-bottom: 0;
}

.form-footer {
    background-color: #9872b5;
    border-color: #8b66aa;
}

.form-fields {
    margin-bottom: 15px;
}

.list-header-outer {
    margin-bottom: 0px;
    padding: 3px 4px;
}

.list-title-top {
    height: 24px;
    background-color: #553886;
    border: 1px solid #4a3175;
    line-height: 22px;
}

.list-title {
    height: 24px;
    line-height: 22px;
    background-color: #553886;
}

.list-name {
    float: left;
    width: 294px;
    overflow: hidden;
    white-space: nowrap;
}

.list-thresh, .list-points {
    float: left;
    width: 113px;
}

.item {
    margin-top: 1px;
    border: 1px solid;
    padding: 3px 19px 0px 19px;
}

.odd {
    background-color: #aa7dc1;
    border-color: #9b70b5;
}

.even {
    background-color: #9872b5;
    border-color: #8b66aa;
}

.well {
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 0;
    background-color: rgba(0,0,0,.1);
    border: 1px solid;
    border-bottom-color: rgba(255,255,255,.3);
    border-top-color: rgba(0,0,0,.5);
    border-left-color: rgba(0,0,0,.15);
    border-right-color: rgba(0,0,0,.15);
}
