{% extends 'base.tmpl' %}

{% block content %}
    <div id="pagetitle">Forgot Password</div>

    <div class="grid-6 push-3 no-left-margin no-top-margin outer-border top">
        <div class="form-header"></div>

        <div class="inner-border form-body">
            <div class="form-fields">
                <p>Forget your password? Enter your email below to reset it.</p>
                <form method='POST' action='/forgot_password'>
                    <input type='text' name='reset_email'/>
                    <button type='submit'>Reset your password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
