{% extends 'base.tmpl' %}

{% from 'formhelpers.tmpl' import render_field %}

{% block content %}
    <div id="pagetitle">Reset Password</div>

    <div class="grid-6 push-3 no-left-margin no-top-margin outer-border top">
        <div class="form-header"></div>
        <form method="post" action="/reset_password">
            <div class="inner-border form-body">
                <div class="form-fields">
                    <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="a5xu0aGfBQtUL1y1y1II7Pz4Yt0uFMHi"></div>
                    <p>{{ render_field(form.password) }}</p>
                    <p>{{ render_field(form.confirm) }}</p>
                    <p>{{ render_field(form.email) }}</p>
                    <p>{{ render_field(form.auth_code) }}</p>
                </div>
            </div>

            <div class="inner-border form-footer">
                <div class="form-actions right">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
