{% extends 'base.tmpl' %}

{% from 'formhelpers.tmpl' import render_field %}

{% block content %}
    <form method="post" action="/login">
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
        </dl>
        <p><input type="submit" value="Log In"/></p>
    </form>
{% endblock %}
