{% extends 'base.tmpl' %}

{% macro crewmember(name, image, twitter, steam, favorite, profile) -%}
    <div class='crew-member'>
        <div class='image'>
            <img class="outline screenshot" src="//static.iggmarathon.com/img/crew/{{ image }}"/>
        </div>

        <div class='info'>
            <h2 class='name expanded dark-shadow'> {{ name }} </h2>
            <h4 class='info-bar expanded'>
                <a href='https://twitter.com/{{twitter}}' class='twitter'>@{{ twitter }}</a>
                &nbsp;|&nbsp;
                <a href='https://steamcommunity.com/id/{{steam}}' class='steam'>Steam</a>
                &nbsp;|&nbsp;
                <span class='favorite'> Favorite Indie Game: {{ favorite }} </span>
            </h4>
            <div class='divider'></div>
            <div class='profile light-shadow'> {{ profile }} </div>
        </div>
        <div class='clear'></div>
    </div>
{%- endmacro %}

{% block head %}
    {{ super() }}
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/crew.css') }}"/>
{% endblock %}

{% block content %}
    <div id="pagetitle">The Crew!</div>

    <div id='crew' class="outer-border grid-10 push-1">

        {% for person in crew %}
            {% if person.visible %}
                {{ crewmember(person.name, person.image, person.twitter, person.steam, person.favorite, person.profile) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
