{% extends 'base.tmpl' %}

{% macro crewmember(name, image, twitter, steam, favorite, profile) -%}
    <div class='crew-member'>
        <div class='image'>
            <img class="outline screenshot" src="//static.iggmarathon.com/img/crew/{{ image }}"/>
        </div>

        <div class='info'>
            <h2 class='name expanded dark-shadow'> {{ name }} </h2>
            <h4 class='info-bar expanded'>
                <a href='https://twitter.com/{{twitter}}' class='twitter'>@{{ twitter }}</a>
                &nbsp|&nbsp;
                <a href='https://steamcommunity.com/id/{{steam}}' class='steam'>Steam</a>
                &nbsp;|&nbsp;
                <span class='favorite'> Favorite Indie Game: {{ favorite }} </span>
            </h4>
            <div class='divider'></div>
            <div class='profile light-shadow'> {{ profile }} </div>
        </div>
        <div class='clear'></div>
    </div>
{%- endmacro %}

{% block head %}
    {{ super() }}
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/crew.css') }}"/>
{% endblock %}

{% block content %}
    <div id="pagetitle">The Crew!</div>

    <div id='crew' class="outer-border grid-10 push-1">
        {{ crewmember(
            'Matt Rasmussen', 'matt.png', 'mrasmus', 'mrasmus', 'Bastion',
            "Matt's been gaming since before he can remember; being fairly platform-agnostic as a kid, he grew a broad appreciation of all sorts of different games. It was his dumb idea that got us all into this mess. You'll recognize him on-stream as the hatted one making all the horrible puns."
        )}}

        {{ crewmember(
            'Shamayel Daoud', 'shamayel.png', 'karamisaurus', 'karamisaurus', 'Jamestown',
            "Shamayel has been into gaming since her father brought home an NES at the tender age of 6. A recent transplant to the Bay Area, Shamayel moved to get away from Matt's terrible puns. She delights in deadpan humor, hanging out in speakeasies, and leading long administrative meetings."
        )}}

        {{ crewmember(
            'Zach Cameron', 'zach.png', 'aerothopter', 'aerothopter', 'Flower',
            "Zach needs to get on and write his bio."
        )}}

        {{ crewmember(
            'Elena Churilov', 'elena.png', 'fiskmeshi', 'foodshooter', 'Dwarf Fortress',
            "Elena was raised on a steady diet of NetHack and Dungeon Keeper. Since then, she has taken up the task of writing nearly all of the text on this website. Although she has returned to her ancestral homeland to delve into the deeper mysteries of Psychology, she still makes a yearly pilgrimage back to us for IGG."
        )}}

        {{ crewmember(
            'Daniel Ching', 'daniel.png', 'zizhou', 'zizhou', 'Frozen Synapse',
            "Database wizard."
        )}}

        {{ crewmember(
            'Garrett Williams', 'garrett.png', 'yggdrasil03', 'yggdrasil33', 'Minecraft',
            "Garrett's a mystery wrapped in an enigma wrapped in a we failed the mission, because he's a spy."
        )}}

        {{ crewmember(
            'Alexander Young', 'xander.png', 'blerggames', 'jovenismo', 'SpaceChem',
            "Xander is a butt."
        )}}

        {{ crewmember(
            'Colin Wheelock', 'colin.png', 'satchamobob', 'Satcha', 'Braid',
            "Colin is a games user researcher currently working for the Games and Playable Media program for UC Santa Cruz. He spends most of his time extolling the virtues of playtesting to his students or brushing up on the latest methodologies. When he's not conducting video game science, Colin partakes in a number of other activities, such as cooking, skiing, and caring way too much about pro wrestling. He currently holds the record for most tables flipped at IGG."
        )}}

        {{ crewmember(
            'David Emerson', 'david.png', 'daemerson', 'daemerson', 'Recettear',
            "BLOGSPOT"
        )}}
    </div>
{% endblock %}
