{% extends 'base.tmpl' %}

{% block content %}
    <div id="pagetitle">404</div>
    <div class="grid-6 push-3 no-left-margin no-top-margin outer-border">
        <div class="inner-border purple form-body center">
            <p>The page you requested could not be found.</p>
        </div>
    </div>
{% endblock %}
