<!DOCTYPE html>

<html lang="en">
    <!-- something something Charlie Brown -->
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>Indie Games for Good</title>
            <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/shared.css') }}"/>
        {% endblock %}
    </head>

    <body>
        {% include 'navbar.tmpl' %}

        {{ marathon_info.stage() }}
        <div id="main-container">
          {% block content %} {% endblock %}

            <div id="footer">
                <h4 class="center pink-header text-small">
                    <a href="{{url_for('contact.show')}}">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a href="{{url_for('faq.show')}}">FAQ</a><br>
                    All content ©2011 - 2016 Indie Games for Good. All Rights Reserved.
                </h4>
            </div>
        </div>

        <script>var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();</script>
    </body>
</html>
