<!DOCTYPE html>

<html lang="en">
    <!-- something something Charlie Brown -->
    <head>

        <script type="text/javascript" src='//code.jquery.com/jquery-2.2.4.min.js'></script>
        {% block head %}
            <meta charset="utf-8">
            <title>Indie Games for Good</title>
            <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/shared.css') }}"/>
            <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/960_12_col.css') }}"/>
        {% endblock %}

    </head>

    <body>
        {% include 'navbar.tmpl' %}

    <div class="container container_12" id="main-container" >
        <div class="grid_12">
          {% block content %} {% endblock %}

            <div id="footer">
                <h4 class="center pink-header text-small">
                    <a href="{{url_for('contact.show')}}">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a href="{{url_for('faq.show')}}">FAQ</a><br>
                    All content ©2011 - 2016 Indie Games for Good. All Rights Reserved.
                </h4>
            </div>
        </div>

    </div>

        <script src="{{ url_for('static', filename='js/shared.js') }}"></script>
        <script>var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();</script>
    </body>
</html>
