{% macro render_field(field) %}
    <dt>{% if field.widget.input_type != 'hidden' %}{{ field.label }} {% endif %}
        <dd>{{ field(**kwargs)|safe }}
            {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
    </dt>
{% endmacro %}

{% macro render_field_donate(field) %}
    <dt class='text-small'>{% if field.widget.input_type != 'hidden' %}{{ field.label }} {% endif %}
        <dd>{{ field(**kwargs)|safe }}
            {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
    </dt>
{% endmacro %}

{% macro render_radio_sliders(field, form) %}
    {{field.label}}
    {% for subfield in field %}
        {{ subfield.label }}
        {{ subfield }}
    {% endfor %}

    <div class="clear"></div>
    <div class="split-div not-evenly">
        <div class="form-item">
            <div class="uneven-row">
                {{ render_field_donate(form.amount_first) }}
            </div>
            <div class="clear"></div>
            <div>
                {{ render_field_donate(form.amount_second) }}
            </div>
            <div class="clear"></div>
            <div>
                {{ render_field_donate(form.amount_third) }}
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endmacro %}
