<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(document).ready(function()
{
    if(!$("#social-media").is(":visible")){
        $("#sm-blocked").show();
    }
});
</script>
<div id="header">
    <div id="logo">
        <img src="{{ url_for('static', filename='img/transparent.png')}}" usemap="#logo-map"/>
        <map name="logo-map">
            <area href="{{ url_for('index.show') }}" shape="poly" coords="151,0, 182,11, 204,66, 210,131, 198,153, 12,153, 1,132, 7,67, 29,10, 58,0"
            alt="Home :: Indie Games for Good" title="Home :: Indie Games for Good"/>
        </map>
    </div>
    <div id="sm-blocked" class="header-child" style="width:252px;display:none;">
        &nbsp; 
    </div>
    <div id="social-media" class="header-child">
        <ul>
            <a href="https://www.facebook.com/iggmarathon">
                <li id="facebook" class="social-link-go"></li>
            </a>
            <a href="http://www.twitter.com/iggmarathon">
                <li id="twitter" class="social-link-go"></li>
            </a>
            <a href="http://steamcommunity.com/groups/iggmarathon">
                <li id="steam" class="social-link-go"></li>
            </a>
            <a href="https://plus.google.com/u/0/events/co6mo0lgk3vvqu5caq0g0d4fg34">
                <li id="gplus" class="social-link-go"></li>
            </a>
        </ul>
    </div>
    <a href="{{ url_for('index.show') }}">
        <div id="title" class="header-child"></div>
    </a>
    <div id="faq-nav" class="header-child fade">
        <h5 class="text-small fade">
            <a href="{{ url_for('faq.show') }}">FAQ</a>&nbsp;|&nbsp;
            <a href="{{ url_for('crew.show') }}">The Crew</a>&nbsp;|&nbsp;
            <a href="{{ url_for('charities.show') }}">Charities</a>
        </h5>
    </div>
    <div id="top-nav"class="header-child">
        <div id="timer-text" class="header-left header-small">
            <h4 class="text-small expanded center">
                Marathon Timer
            </h4>
        </div>
        <div id="donation-text" class="header-left header-small">
            <h4 class="text-small expanded center">Total Donations</h4>
        </div>
        <div id="upper-right-nav" class="header-right header-small">
            <h4 class="text-small expanded center">
                <a href="{{ url_for('games.show') }}">Games</a>&nbsp;|&nbsp;
                <a href="{{ url_for('schedule.show') }}">Schedule</a>&nbsp;|&nbsp;
                <a href="{{ url_for('interviews.show') }}">Interviews</a>&nbsp;|&nbsp;
                <a href="{{ url_for('challenges.show') }}">Challenges</a>&nbsp;|&nbsp;
                <a href="{{ url_for('raffles.show') }}">Prizes</a>
            </h4>
        </div>
        <div class="clear"></div>
        <div id="marathon-timer" class="header-left header-large">
            <h2 class="text-large expanded lightshadow center">
            <span id="timer">{{marathon_info.elapsed() }}</span>/{{ marathon_info.hours }}:00 <!-- marathon timer goes here -->
            </h2>
        </div>
        <div id="total-donations" class="header-left header-large">
            <h2 class="text-large expanded light-shadow center">
                $<span class="info_total">{{marathon_info.total}}</span>
            </h2>
        </div>
        <div id="marathon-status" class="header-right header-large">
            <h4 class="text-small expanded center deem-blue">
                {% if marathon_info.stage() == 'PRE' %}
                    We're not quite ready to receive donations.
                {% elif marathon_info.stage() == 'RUNUP' %}
                    Donations are live, go donate now!
                {% elif marathon_info.stage() == 'LIVE' %}
                    <!-- wat -->
                    {% if marathon_info.current_game_id != 2 %}
                        Now Playing: {{ current_game.name }}
                    {% else %}
                        Setting up the next game, please stand by...
                    {% endif %}
                {% elif marathon_info.stage() == 'POST' %}
                    The marathon is over, thanks for watching!
                {% endif %}
            </h4>
        </div>
    </div>

    <div id="bottom-nav"class="header-child">
        <div id="donate">
            <a href="{{ url_for('donate.show')}}">
                <h2 class="text-large center">Donate!</h2>
            </a>
        </div>
        <div id="next-hour" class="header-left header-small">
            <div class="header-left header-large">
                <h2 class="text-large lightshadow expanded center">
                    ${{ marathon_info.next_hour_cost() }}
                </h2>
            </div>
            <div class="header-left header-small">
                <h4 class="text-small light-shadow expanded center">
                    To Unlock Hour #<span id="next-hour">{{ marathon_info.hours + 1}}</span>
                </h4>
            </div>
        </div>
    </div>

    {% if not current_user.is_authenticated %}
        <div id="user-ui-guest" class="header-child">
            <div class="header-large header-right">
                <h2 class="text-large expanded center no-margin">
                    <a href="{{ url_for('login.show') }}">Login</a>
                </h2>
            </div>
            <div class="header-small header-right">
                <h4 class="text-small expanded center">
                    <a href="{{ url_for('register.show') }}">Sign Up</a>
                </h4>
            </div>
        </div>
    {% else %}
    <div id="user-ui" class="header-child">
        <div class="header-large header-left no-padding">
            <h2 class="text-large expanded lightshadow">
                    {{ current_user.username }}
            </h2>
        </div>

        <div class="clear"></div>
        <div id='profile-links' class="header-small header-left">
            <h4 class="text-small expanded center">
                <a href="{{url_for('profile.show')}}">My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="{{url_for('login.logout')}}">Log Out</a>
            </h4>
        </div>
    </div>
    {% endif %}
</div>
