{% extends 'base.tmpl' %}

{% block content %}
    <h6 class="pagetitle">Contact Us!</h6>
    <div class="grid_10 alpha push_1 top outerborder">
        <div class="innerborder purple">
            <h2 class="sixteen-px deem-pink">Contact us!</h2>
            <p class="lightshadow">The easiest way to contact us about IGG is to send an email to <a href="mailto:contact@iggmarathon.com">contact@iggmarathon.com</a>. We all have access to it, and we check it pretty regularly.</p>
            <p>To keep in touch with us throughout the year, head over to <a href="http://www.cloudboatarmada.com">Cloudboat Armada</a>. We've got regular podcasts, video streams, and more to keep you entertained year-round!</p>
        </div>
    </div>
{% endblock %}
