{% extends 'base.tmpl' %}

{% block content %}
    <div id="pagetitle">Contact Us!</div>
    <div class="grid-10 no-left-margin no-top-margin push-1 outer-border">
        <div class="inner-border purple">
            <h2 class="text-large pink-header">Contact us!</h2>
            <p class="light-shadow">The easiest way to contact us about IGG is to send an email to <a href="mailto:contact@iggmarathon.com">contact@iggmarathon.com</a>. We all have access to it, and we check it pretty regularly.</p>
            <p>To keep in touch with us throughout the year, head over to <a href="http://www.cloudboatarmada.com">Cloudboat Armada</a>. We've got regular podcasts, video streams, and more to keep you entertained year-round!</p>
        </div>
    </div>
{% endblock %}
