{% extends 'base.tmpl' %}

{% from 'formhelpers.tmpl' import render_field %}

{% block content %}
    <div id="pagetitle">Sign Up</div>

    <div class="grid-6 push-3 no-left-margin no-top-margin outer-border top">
        <div class="form-header"></div>
        <form method="post" action="/register">
            <div class="inner-border form-body">
                <div class="form-fields">
                    <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="a5xu0aGfBQtUL1y1y1II7Pz4Yt0uFMHi"></div>
                    <p>{{ render_field(form.username) }}</p>
                    <p>{{ render_field(form.email) }}</p>
                    <p>{{ render_field(form.password) }}</p>
                    <p>{{ render_field(form.confirm) }}</p>
                </div>
            </div>

            <div class="inner-border form-footer">
                <div class="form-actions right">
                    <button type="submit" class="btn btn-primary">Sign Up!</button>
                </div>
            </div>
        </form>
    </div>

    <div class="grid-6 push-3 outer-border">
        <div class="inner-border purple">
            <h2 class="text-large purple-header">Why make an account on the site?</h2>
            <p>You can enter raffles, donate toward challenges, win giveaways, and easily reallocate your donation if you change your mind. You can also be notified when your favorite games are being played.</p>
            <p class="center"><a href="{{url_for('faq.show')}}">Check out the other frequently asked questions here.</a></p>
        </div>
    </div>
{% endblock %}
