{% extends 'base.tmpl' %}

{% block content %}
    <div id="pagetitle">Donation Complete</div>
    <div class="grid-6 push-3 no-left-margin no-top-margin outer-border">
        <div class="inner-border center purple">
            <p>Your donation has been completed and is pending confirmation by Paypal.</p>
            <p>Thank you so much for your donation!</p>
        </div>
    </div>
{% endblock %}
