{% extends 'base.tmpl' %}

{% block head %}
    {{ super() }}
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/charities.css') }}"/>
{% endblock %}

{% block content %}
    <div id="pagetitle">Charities</div>
        <div class="grid-10 push-1 no-left-margin no-top-margin outer-border">
            <div class="inner-border purple">
                <div id="charities">
                    <h2 class="text-large purple-header">Child's Play</h2>
                    <p class="light-shadow"><a href="http://www.childsplaycharity.org/">Child’s Play</a> is a non-profit, gamer-run charity that donates toys, games, books, and money to over 70 children’s hospitals worldwide, providing necessary relief for children whose days would otherwise be filled with boredom, pain, or fear. Giving these kids something to keep their mind off of what’s keeping them in the hospital improves their morale and can even help them get better faster.</p>
                    <p class="light-shadow">Child’s Play’s mission is “to improve the lives of children in hospitals around the world through the generosity of the game industry and the power of play.”</p>
                    <p class="light-shadow">Child’s Play is the charity we have supported since our first marathon in 2011. We’re proud to have raised over $50k for them since then, and hope to raise more this year!</p>
                    <div class="inner-divider"></div>
                    <h2 class="text-large purple-header">Electronic Frontier Foundation</h2>
                    <p class="light-shadow"><a href="https://www.eff.org/">The Electronic Frontier Foundation</a> is the leading nonprofit organization defending civil liberties in the digital world. Founded in 1990, EFF champions user privacy, free expression, and innovation through impact litigation, policy analysis, grassroots activism, and technology development. They work to ensure that rights and freedoms are enhanced and protected as our use of technology grows.</p>
                    <p class="light-shadow">EFF describes their mission as twofold: “1) to educate the general public regarding new forms of technology including, but not limited to, digital, computing and communications technology; 2) to educate the general public and foster discussion and public policy analysis regarding the relationship between technology and society.”</p>
                    <p class="light-shadow">EFF is one of the two charity organizations we are adding as a donation option this year. We believe it’s important to protect our technological freedom and we look forward to raising as much as we can in support of their cause!</p>
                    <div class="inner-divider"></div>
                    <h2 class="text-large purple-header">GiveDirectly</h2>
                    <p class="light-shadow"><a href="https://www.givedirectly.org/">GiveDirectly</a> aims to help people living in extreme poverty by making unconditional cash transfers to them via mobile phone. Approximately 90% of donor funds are sent directly to recipients, with the remaining 10% split between fees for the transfers and recipient identification and follow-up costs. According to the American Institute of Philanthropy, this is far more efficient than other charities. Strong evidence indicates that cash transfers lead recipients to spend more on their basic needs such as food and may allow recipients to make investments with high returns.</p>
                    <p class="light-shadow">GiveDirectly’s mission statement is “Our mission is to reduce poverty by providing financial assistance directly to those in need. We aim to do so efficiently, making the most of every dollar; transparently, with a clear commitment to how each dollar is used; and respectfully, letting people choose how to help themselves.”</p>
                    <p class="light-shadow">GiveDirectly is one of the charities we have added to our donation options this year. We’re excited to support evidence-based charity and hope to raise as much for them as we can!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
