{% extends 'base.tmpl' %}

{% block head %}
    {{ super() }}
    <!-- mmmm tons of dependencies for a calendar :3 -->
    <script type="text/javascript" src='//code.jquery.com/jquery-2.2.4.min.js'></script>
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.js"></script>
    <link rel='stylesheet' type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.css"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/schedule.js') }}"></script>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/schedule.css') }}"/>
{% endblock %}

{% block content %}
    <div id="pagetitle">Schedule</div>

    <!-- will be replaced with the calendar on load -->
    <div id='calendar'></div>
{% endblock %}
